@model MovieStoreMvc.Models.DTO.MovieListVm
@{
    Layout = "_Layout";
}
<style>
    .animated-button {
        color: #fff; /* Màu chữ ban đầu */
        background-color: #6c757d; /* Màu nền ban đầu */
        transition: background-color 0.3s, color 0.3s;
    }

        .animated-button:hover {
            color: #000; /* Màu chữ khi hover */
            background-color: #000; /* Màu nền khi hover */
        }

    .movie-card {
        transition: transform 0.3s;
    }

        .movie-card:hover {
            transform: scale(1.05);
        }

    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination a {
        display: block;
        padding: 10px 15px;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #007bff;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

        .pagination a:hover {
            background-color: #007bff;
            color: #fff;
        }

    .pagination .active a {
        background-color: #007bff;
        color: #fff;
    }

</style>
<section class="search-bar container mt-4 h-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form method="get" asp-action="Index" class="d-flex h-70">
                            <input type="text" name="term" class="form-control w-100" placeholder="Tìm Kiếm">
                            <button type="submit" class="site-btn btn-sm">SEARCH</button>
                        </form>
                    </div>
                    <div class="mx-5">
                        <a class="btn btn-secondary site-btn mx-5 animated-button" href="/Home/Index">All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="movies container mt-5 h-100 w-10">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var movie in Model.MovieList)
        {
            <div class="col mb-3">
                <div class="card movie-card h-10" onclick="window.location.href='/Home/MovieDetail?movieId=@movie.Id'">
                    <img src="/Uploads/@movie.MovieImage" class="card-img-top" alt="Movie Image" style="width: 400px; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">Thể Loại: @movie.GenreNames</p>
                        <p class="card-text">Năm Phát Hành: @movie.ReleaseYear</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

