@model MovieStoreMvc.Models.DTO.MovieListVm
@{
    Layout = "_Layout";
}
<section class="search-bar container mt-3 h-100">
    <form method="get" asp-action="Index" class="d-flex h-100">
        <input type="text" name="term" class="form-control me-2 w-50" placeholder="Tìm kiếm tại đây">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> </button>
        <a class="btn btn-secondary btn-sm" href="/Home/Index"> Tất cả</a>
    </form>
</section>
<section class="movies container mt-3 h-100">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var movie in Model.MovieList)
        {
            <div class="col mb-3">
                <div class="card movie-card h-100" onclick="window.location.href='/Home/MovieDetail?movieId=@movie.Id'">
                    <img src="/Uploads/@movie.MovieImage" class="card-img-top" alt="Movie Image">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.GenreNames</p>
                        <p class="card-text">@movie.ReleaseYear</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<div class="pagination container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for(int i=1; i<=Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

