@model MovieStoreMvc.Models.Domain.Movie
@{
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0"></div>
    <div class="col-md-4">
        <img src="/Uploads/@Model.MovieImage" class="img-fluid rounded-start" alt="Movie Image" style="height: 100%;">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.GenreNames</p>
            <p class="card-text">Năm sản xuất: @Model.ReleaseYear</p>
            <p class="card-text">Cast: @Model.Cast</p>
            <p class="card-text">Director: @Model.Director</p>
        </div>
    </div>
</div>
<div class="card-body">
    <a href="/Home/Index" class="btn btn-primary">Back</a>
</div>
</div>
